{% extends "base.html" %}

{% block content %}
    {% if not created %}
        <form action="." method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            
            <div>
                <button type="submit">Create Article</button>
            </div>
        </form>
    {% else %}
        <div>
            <p>Your article was created.</p>
            <a href="{% url "articles" object.id %}">{{ object.title }}</a>
        </div>
    {% endif %}
{% endblock content %}